@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(src/assets/HomeBackground.svg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: "100vh";

}

